input {
  margin-right: 20px;
  padding: 5px;
  background: none;
  border: solid 1px #c0bebe;
}

companylist {
    background: #fff;
    border: solid 1px #c0bebe;
    text-align: center;
    padding: 25px;
    margin: 10px 5px;
    width: 30%;
    height: 400px;
}